<DOCTYPE html lang="de">

  <html>

    <head>
      <title>A sample html5 structure</title>
      <meta charset="UTF-8">
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="Matthias">
      <!-- meta http-equiv="refresh" content="30" -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- base href="https://www.w3schools.com/" target="_blank" -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <style>
      </style>
    </head>

    <body>
      <header>
        <h1>HTML5 page structure showcase</h1>
      </header>
      <nav>
        <ul>
          <li>Start
          </li>
          <li>About
          </li>
        </ul>
      </nav>
      <article>
        <h2>Artikel überschrift</h2>
        <section>
          <h3>Eine Section</h3>
          <p>Ein Absatz</p>
        </section>
        <section>
          <h3>Eine Section</h3>
          <p>Ein Absatz</p>
        </section>
      </article>
      <article>
        <h2>Ein weiterer Artikel</h2>
        <section>
          <h3>Eine Section</h3>
          <p>Ein Absatz </p>
        </section>
        <section>
          <h3>Eine Section</h3>
          <p>Ein Absatz</p>
          <aside>
            Asides stellen zusätzliche Informationen dar.
          </aside>
        </section>
      </article>

      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

      <script></script>

    </body>

  </html>
